/* Fondo Y2K */
body {
  background:
      url("../assets/img/stars.png") repeat,
      linear-gradient(135deg, #d8b4e2, #c2a0e2, #d8b4e2);
  background-blend-mode: screen;
  background-size: auto, 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: Verdana, sans-serif;
  color: #2c004c;
}

/* Botones rectangulares en navbar */
.nav-link.btn {
  border-radius: 0;
}

/* Hover para botones de navbar */
.nav-link.btn:hover {
  background-color: #b58ec2;
  color: #ffffff;
}